extends layout

block content
 each value, i in profile
  div#profileTitle
      h3. 
         #{value.name.en}
      
  div#wrapper
      p
       span.title Type: 
       span #{value.type}
      p
       span.title Code: 
       span #{value.code}
      - if (value.name.ar) 
           p
            span.title Name in Arabic: 
            span #{value.name.ar}

  div#wrapper
      h4 Location
    
      - if(value.location.place || value.location.district || value.location.governorate)
        p 
         span.title Place: 
         span #{value.location.place} #{value.location.district} #{value.location.governorate}
      - if(value.location.coordinates)
       div
        <div class="mapouter"><div class="gmap_canvas"><iframe width="300" height="250" id="gmap_canvas" src="https://maps.google.com/maps?q=#{value.location.coordinates[1]}%2C%20#{value.location.coordinates[0]}&t=&z=14&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>google maps <a href="http://www.pureblack.de/google-maps/">pure black</a></div><style>.mapouter{overflow:hidden;height:250px;width:300px;}.gmap_canvas {background:none!important;height:500px;width:600px;}</style></div>
       p 
        span.title Coordinates: 
        span #{value.location.coordinates}
      - if(value.UNHCR && value.UNHCR.coordinates)
       p 
        span.title UNHCR Coordinates: 
        span #{value.UNHCR.coordinates}
      
  div#wrapper  
     if(value.dates.beg || value.dates.end) 
      h4 Event Period:
      if(!value.dates.beg)
  
      else if(value.dates.beg && ((value.dates.beg).getDate() == 1) && ((value.dates.beg).getMonth() == 0))
        p 
         span.title From: 
         span #{moment(value.dates.beg).format('YYYY')}
      else
        p 
         span.title From: 
         span #{moment(value.dates.beg).format('MMMM Do, YYYY')}
        
      if (!value.dates.end)

      else if(value.dates.end && ((value.dates.end).getDate() == 1) && ((value.dates.end).getMonth() == 0))
        p 
         span.title To: 
         span #{moment(value.dates.end).format('YYYY')}
      else
        p 
         span.title To: 
         span #{moment(value.dates.end).format('MMMM Do, YYYY')}
      
  div#wrapper        
      if((value.related.events && (value.related.events).length>0 )|| (value.related.sites && (value.related.sites).length>0) || (value.related.locations && (value.related.locations).length>0) || (value.related.mps && (value.related.mps).length>0))
      h4 Related: 
      
      if(value.related.events && (value.related.events).length>0)
       p 
        span.title Related Events: #{(value.related.events).length}
          br
          - var name = "";
          each event, i in value.related.events
            each eventProfile, i in eventsList
              - if (event == eventProfile.code) name =  eventProfile.name.en
            a(href="#" onclick="loadProfile('events','"+event+"');") #{event} #{name}
            br
      
      - if(value.related.sites && (value.related.sites).length>0)
       p
        span.title Related Sites: #{(value.related.sites).length}
          br
          - var name = "";
          each site, i in value.related.sites
            each siteProfile, i in sitesList
              - if (site == siteProfile.code) name =  siteProfile.name.en
            a(href="#" onclick="loadProfile('sites','"+site+"');") #{site} #{name}
            br
      
      - if (value.related.locations && (value.related.locations).length>0)
       p
        span.title Related Locations: #{(value.related.locations).length}
            br
            - var name = "";
            each location, i in value.related.locations
             each locationProfile, i in locationsList
              - if (location == locationProfile.code) name =  locationProfile.name.en
             a(href="#" onclick="loadProfile('locations','"+location+"');") #{location} #{name}
             br
      
      - if (value.related.mps && (value.related.mps).length>0)
       p
        span.title Related Missing Persons: #{(value.related.mps).length}
            br
            - var name = "";
            each mp, i in value.related.mps
             each missingProfile, i in missingList
              - if (mp == missingProfile.code) name =  missingProfile.name.ar.last+" "+missingProfile.name.ar.middle+" "+missingProfile.name.ar.first
             a(href="#" onclick="loadProfile('missing','"+mp+"');") #{mp} #{name} 
             br

  div#wrapper
     if(value.groups_responsible || value.groups_responsible_name)
      h4 Responsible:    
      - if (value.groups_responsible)
       p 
        span.title Groups responsible: 
        span #{value.groups_responsible}

      //- - if (value.groups_responsible_name)
      //-  p 
      //-   span.title Names of Responsible Persons: 
      //-   span #{value.groups_responsible_name}  
      
      
  div#wrapper       
    if(user!="public")
     if((value.sources).lenght>0)
       h4 Sources 
       if(value.interviews && (value.interviews).length>0)
        p
         span.title Interviews: 
              - var name = "";
              each interview, i in value.interviews
                if(interviewsList) 
                  each interviewProfile, i in interviewsList
                    - if (interview == interviewProfile.code) name =  interviewProfile.interviewee
                a(href="#" onclick="loadProfile('interviews','"+interview+"');") #{interview} #{name}
                br

       - if (value.sources)  
           p
            each source, i in value.sources
             if(sourcesList)
              each sourceProfile, i in sourcesList
               - if (source == sourceProfile.code) source_title =  sourceProfile.source_title
             a(href="#" onclick="loadProfile('sources','"+source+"');") #{source} #{source_title}
             br

     - if (value.notes)
        p 
         span.title Notes: 
         span #{value.notes} 

     - if (value.contacts && (value.contacts).length>0)
        p 
         span.title Contacts: 
            - var name = "";
            each contact, i in value.contacts
             if(contactsList)
               each contactProfile, i in contactsList
                  - if (contact == contactProfile.code) name =  contactProfile.name.ar.last+" "+contactProfile.name.ar.first
             a(href="#" onclick="loadProfile('contacts','"+contact+"');") #{contact} #{name}
             br  
      
      
     div(class='btn menu')
      a(href="/newprofile/?type=event&code="+value.code) Edit
     div(class='btn menu')
        form#deleteEntry(name="deleteEntry", method="post", action="/deleteEntry" onclick="return confirm('This will delete the event permanently. Are you sure?')")
          input(type="hidden" name="code" value=value.code)
          input(type="hidden" name="collection" value="events")
          input(type="hidden" name="related_events" value=value.related.events)
          input(type="hidden" name="related_sites" value=value.related.sites)
          input(type="hidden" name="related_locations" value=value.related.locations)
          input(type="hidden" name="related_mps" value=value.related.mps)
          input(type="hidden" name="interviews" value=value.interviews)
          input(type="hidden" name="contacts" value=value.contacts)
          input(type="hidden" name="files" value=value.files)
          input(type="hidden" name="_csrf" value=csrfToken)
                    
          button#submit_event(class="buttons", type="submit") Delete  