extends layout

block content

    div(class='btn menu')
        a(href="#" onclick="toggle_visibility('divSearchMissing');") Filter Missing Persons
        
        
    div#divSearchMissing(class='dropMenu')
        form#form_search(name="searchmissing", method="post", action="/searchmissing")
            input#input_keyword(type="text", placeholder="Keyword", name="keyword", value=keyword)
            br
            span Dates of Disappearance: 
            br
            span between
                span &nbsp;
                select(name="from_disappearance_date_day", value=from_disappearance_date_day)
                    -for(var i = 1;i<32;i++){
                        - i = ("0" + i).slice(-2)
                        option(value=i) #{i}
                    -}
                span &nbsp;
                select#input_birth_month(name="from_disappearance_date_month", value=from_disappearance_date_month) 
                    option(value="01")  Jan
                    option(value="02")  Feb    
                    option(value="03")  Mar
                    option(value="04")  Apr
                    option(value="05")  May
                    option(value="06")  Jun
                    option(value="07")  Jul
                    option(value="08")  Ago
                    option(value="09")  Sep
                    option(value="10")  Oct
                    option(value="11")  Nov
                    option(value="12")  Dec
                span &nbsp;
                select(name="from_disappearance_date_year", value=from_disappearance_date_year)
                    option(value="") Select
                    -for(var i = 1973;i<2006;i++){
                        option(value=i) #{i}
                    -}  
                span &nbsp;


            span and
                span &nbsp;
                select(name="to_disappearance_date_day", value=to_disappearance_date_day)
                    -for(var i = 1;i<32;i++){
                        - i = ("0" + i).slice(-2)
                        option(value=i) #{i}
                    -}
                span &nbsp;
                select#input_birth_month(name="to_disappearance_date_month", value=to_disappearance_date_month) 
                    option(value="01")  Jan
                    option(value="02")  Feb    
                    option(value="03")  Mar
                    option(value="04")  Apr
                    option(value="05")  May
                    option(value="06")  Jun
                    option(value="07")  Jul
                    option(value="08")  Ago
                    option(value="09")  Sep
                    option(value="10")  Oct
                    option(value="11")  Nov
                    option(value="12")  Dec
                span &nbsp;
                select(name="to_disappearance_date_year", value=to_disappearance_date_year)
                    option(value="") Select
                    -for(var i = 1973;i<2006;i++){
                        option(value=i) #{i}
                    -}  
                span &nbsp;
                span (Both dates must be completed for a range)

            br
            span Place of Disappearance:
            br
        
            select#input_disappearance_place_district(name="disappearance_place_district", value=disappearance_place_district)
                option(value="") District
                - var districts = ["Akkar", "Baalbek", "Hermel", "Beirut", "Rashaya", "Western Beqaa", "Zahle", "Aley", "Baabda", "Chouf", "Jbeil", "Keserwan", "Matn", "Batroun", "Bsharri", "Koura", "Miniyeh-Danniyeh", "Tripoli", "Zgharta", "Bint Jbeil", "Hasbaya", "Marjeyoun", "Nabatiyeh", "Sidon", "Jezzine", "Tyre"];
                each district in districts
                    option(value=district) #{district}
            span 
            select#input_disappearance_place_governorate(name="disappearance_place_governorate", value=disappearance_place_governorate)
                option(value="") Governorate
                - var governorates = ["Akkar", "Baalbek-Hermel", "Beirut", "Beqaa", "Mount Lebanon", "Nabatieh", "North", "South"];
                each governorate in governorates
                    option(value=governorate) #{governorate}

            br
            br
            input#input_km(type="text", placeholder="Distance in meters", name="meters", value=meters)
            span &nbsp;
            span from 
            span &nbsp;
            input#input_latitude(type="text", placeholder="Latitude", name="latitude", value=latitude)
            span &nbsp;
            span ,
            span &nbsp;
            input#input_longitude(type="text", placeholder="Longitude", name="longitude", value=longitude)
            br
            
            
            span Age Between 
            span &nbsp;
            select(name="age_from", value=age_from)
                option(value="") Select
                -for(var i = 0;i<101;i++){
                    option(value=i) #{i}
                -} 
            span &nbsp;
            span and 
            span &nbsp;
            select(name="age_to", value=age_to)
                option(value="") Select
                -for(var i = 0;i<101;i++){
                    option(value=i) #{i}
                -}
            span 
            select#input_sex(name="sex", value=sex)
                option(value="") Sex
                - var sexes = ["M", "F"];
                each se in sexes
                    option(value=se) #{se}
            br
            
            select#input_last_seen_reported(name="last_seen_reported", value=last_seen_reported)
                option(value="") Reported seen again
                option(value="Yes") Yes
                option(value="No") No

            
            select#input_perpetrators(name="perpetrators", value=perpetrators)
                option(value="") Perpetrators
                if (parties)
                    each party, i in parties
                        option(value=party.name.en) #{party.name.en}
            
            select#input_fate(name="fate", value=fate)
                option(value="") Fate
                - var fates = ["Unknown", "Presumed in Syria", "Presumed in Israel", "Presumed Dead", "Location of remains Presumed", "Confirmed dead", "Remains exhumed", "Released"];
                each fat in fates
                    option(value=fat) #{fat}
            br
            
            select#input_perpetrators(name="related_event", value=related_event)
                option(value="") Related Event
                if (events)
                    each event, i in events
                        option(value=event.code) #{event.code} - #{event.name.en}
             
            select#input_perpetrators(name="related_location", value=related_location)
                option(value="") Related Location
                if (locations)
                    each location, i in locations
                        option(value=location.code) #{location.code} - #{location.name.en} (#{location.groups_responsible}) 
            
            select#input_perpetrators(name="related_site", value=related_site)
                option(value="") Related Site
                if (sites)
                    each site, i in sites
                        option(value=site.code) #{site.code} - #{site.name.en}
            
            select#input_perpetrators(name="fushatamal_published", value=fushatamal_published)
                option(value="") Published in Fushat Amal
                option(value="Yes") Yes
                option(value="No") No

            br
            br
            input(type="hidden" name="_csrf" value=csrfToken)
            input(type="hidden" name="caller" value=caller)
            div(class='btn menu')
                button#search(type="submit" class="buttons") Search
    //br