extends layout

block content
 include menu
 div
  h3= title
  
  if errormessage
     p #{errormessage} 
     
  if validationErrors 
     each valError, i in validationErrors
         p #{valError.msg}  
         
  if editprofile
    each value, i in editprofile
        - _id = value._id
        - code = value.code
        - name_ar = value.name.ar
        - name_en = value.name.en
        - name_alt_name = value.name.alt_name
        - hq_place = value.hq.place
        - hq_description = value.hq.description
        - if(value.hq.coordinates){
          hq_latitude = value.hq.coordinates[1]
          hq_longitude = value.hq.coordinates[0]
        -  } 
        - color = value.color
        - flag_file = value.flag.file
        - documents = value.documents
        - control_areas = value.control_areas
        
     
  form#form_add_event(name="addparty", method="post", action="/addparty")
    div#wrapper
     if (_id)
        input#input_code(type="text", value=code, name="code" readonly)
        input#input_edit(type="hidden", value=_id, name="_id")
     else
        input#input_code(type="text", value='P'+nextrecord, name="code" readonly)
    br
    br
     
    div#wrapper      
     input#input_name_ar(type="text", placeholder="Name in Arabic", name="name_ar" value=name_ar)
     br
     input#input_name_en(type="text", placeholder="Name in English", name="name_en", value=name_en)
     br
     input#input_name_en(type="text", placeholder="Aternative Name", name="name_alt_name", value=name_alt_name)
     br
     br
     
    div#wrapper 
     legend Headquarters
     input#input_location_place(type="text", placeholder="Place", name="hq_place", value=hq_place)
     br
     input#input_location_place(type="text", placeholder="Description", name="hq_description", value=hq_description)
     br
     br
     input#input_location_coordinates_latitude(type="text", placeholder="Latitude", name="hq_latitude", value=hq_latitude)
     br
     input#input_location_coordinates_longitude(type="text", placeholder="Longitude", name="hq_longitude", value=hq_longitude)
     br
     br
     
    div#wrapper 
     legend Areas of control
      //-  - console.dir(municipalities, { depth: null })
     if (municipalities.features)
       each municipality, i in municipalities.features
            div(class="columns")
              input(type='checkbox', name="control_areas", value=municipality.id)
              label #{municipality.id} - #{municipality.properties.name} 
              
    
    br
    div#wrapper 
     legend Pick a color
     br
     input(type="color", name="color", value=color)

    br
    div#wrapper 
      div(class='btn menu')
        button#submit_site(type="submit" role='submit' class="buttons") submit
      div(class='btn menu')
        a(href="/parties") Go back to Parties
    