extends layout

block content
  include menu
  br
  div   
   div#table
    div(class='btn menu')
     a(href="/newprofile/?type=site&nextrecord="+nextrecord) Add a New Site
     - var caller = "sitesTable";
    include sitesFilter
  
    h3. 
      Sites
     
    table(id="sitesList")
      thead    
        tr#headtag
            th Code
            th Name
            th District
            th Governorate
            th Exhumation
            th Report
            
      tbody        
            each site, i in collList
                tr
                    td
                        a(href="#" onclick="loadProfile('sites','"+site.code+"');") #{site.code}
                    td=site.name.en
                    td=site.location.district
                    td=site.location.governorate
                    if(site.exhumed)
                     td=site.exhumed.status
                    td
                      a(href='/report?code='+site.code target="_blank")
                       img(src="/stylesheets/images/report-icon.png" height="20" width="20") 
                    
   div#sideProfile
  
   script.
    $('#sitesList').DataTable( {
        paging: true
        } );