extends layout

block content
 each value, i in profile
  div#profileTitle
      h3. 
         #{value.name.en}
      
  div
      - if (value.name.ar) 
           p
            span.title Name in Arabic: 
            span #{value.name.ar}
      p
        span.title Code:
        span #{value.code}      

  //- div
  //-   span.title Public: 
  //-   span #{value.public}
  //-   br

  div
      h4 Location:

      - if(value.location.place ||value.location.district ||value.location.governorate)    
       p 
        span.title Place: 
        span #{value.location.place}, #{value.location.district}, #{value.location.governorate}
      - if (value.location.coordinates)
       div
        <div class="mapouter"><div class="gmap_canvas"><iframe width="300" height="250" id="gmap_canvas" src="https://maps.google.com/maps?q=#{value.location.coordinates[1]}%2C%20#{value.location.coordinates[0]}&t=&z=14&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>google maps <a href="http://www.pureblack.de/google-maps/">pure black</a></div><style>.mapouter{overflow:hidden;height:250px;width:300px;}.gmap_canvas {background:none!important;height:500px;width:600px;}</style></div>
       
       p 
        span.title Coordinates: 
        span #{value.location.coordinates[1]}, #{value.location.coordinates[0]}
      - if (value.type)    
       p 
        span.title Type: 
        span #{value.type}
      
   
  div 
    if(value.dates.beg || value.dates.end)
      h4 Activity Period:
      if(!value.dates.beg)
  
      else if(value.dates.beg && ((value.dates.beg).getDate() == 1) && ((value.dates.beg).getMonth() == 0))
        p 
         span.title From: 
         span #{moment(value.dates.beg).format('YYYY')}
      else
        p 
         span.title From: 
         span #{moment(value.dates.beg).format('MMMM Do, YYYY')}
        
      if (!value.dates.end)

      else if(value.dates.end && ((value.dates.end).getDate() == 1) && ((value.dates.end).getMonth() == 0))
        p 
         span.title To: 
         span #{moment(value.dates.end).format('YYYY')}
      else
        p 
         span.title To: 
         span #{moment(value.dates.end).format('MMMM Do, YYYY')}
      
  div
      if(value.description)
       h4 Description:
       p
        span #{value.description}

  div
    if((value.related.events && (value.related.events).length>0 )|| (value.related.sites && (value.related.sites).length>0) || (value.related.locations && (value.related.locations).length>0) || (value.related.mps && (value.related.mps).length>0))
      h4 Related: 
      
      if(value.related.events && (value.related.events).length>0)
       p 
        span.title Related Events: #{(value.related.events).length}
          br
          - var name = "";
          each event, i in value.related.events
            each eventProfile, i in eventsList
              - if (event == eventProfile.code) name =  eventProfile.name.en
            a(href="#" onclick="loadProfile('events','"+event+"');") #{event} #{name}
            br
      
      - if(value.related.sites && (value.related.sites).length>0)
       p
        span.title Related Sites: #{(value.related.sites).length}
          br
          - var name = "";
          each site, i in value.related.sites
            each siteProfile, i in sitesList
              - if (site == siteProfile.code) name =  siteProfile.name.en
            a(href="#" onclick="loadProfile('sites','"+site+"');") #{site} #{name}
            br
      
      - if (value.related.locations && (value.related.locations).length>0)
       p
        span.title Related Locations: #{(value.related.locations).length}
            br
            - var name = "";
            each location, i in value.related.locations
             each locationProfile, i in locationsList
              - if (location == locationProfile.code) name =  locationProfile.name.en
             a(href="#" onclick="loadProfile('locations','"+location+"');") #{location} #{name}
             br
      
      - if (value.related.mps && (value.related.mps).length>0)
       p
        span.title Related Missing Persons: #{(value.related.mps).length}
            br
            - var name = "";
            each mp, i in value.related.mps
             each missingProfile, i in missingList
              - if (mp == missingProfile.code) name =  missingProfile.name.ar.last+" "+missingProfile.name.ar.middle+" "+missingProfile.name.ar.first
             a(href="#" onclick="loadProfile('missing','"+mp+"');") #{mp} #{name} 
             br
  div
    if(value.perpetrators || value.perpetrators_name)
     h4 Responsibles:
     - if (value.perpetrators)
        p 
         span.title Groups Responsible: 
         span #{value.perpetrators}
    //-  - if (value.perpetrators_name)
    //-     p 
    //-      span.title Names of Reponsible Persons: 
    //-      span #{value.perpetrators_name}  
      
  div
      
      - if (value.status)
       p 
        span.title Status: 
        span #{value.status}
      - if (value.number_expected)
       p 
        span.title Number of bodies expected: 
        span #{value.number_expected}
      - if (value.risk.index)
       p
       span.title Risk index: 
       span #{value.risk.index}
      if (value.risk.reasons)
       p 
        span.title Risk reasons: 
        span #{value.risk.reasons}
      - if (value.sensitivity.index)
       p 
        span.title Sensitivity index: 
        span #{value.sensitivity.index}
      - if (value.sensitivity.reasons)
       p 
       span.title Sensitivity reasons: 
       span #{value.sensitivity.reasons}
      - if (value.credibility.index)
       p 
       span.title Credibility index: 
       span #{value.credibility.index}
      - if (value.credibility.reasons)
       p 
       span.title Credibility reasons: 
       span #{value.credibility.reasons}
       
  div
   if(value.exhumed)
      h4 Exhumation status: 
      
      -if (value.exhumed.status)
       p
        span.title Exhumed: 
        span #{value.exhumed.status}
      - if (value.exhumed.date)
       p 
        span.title Date: 
        span #{moment(value.exhumed.date).format('MMMM Do, YYYY')}
      - if (value.exhumed.number)
       p
        span.title Number of bodies exhumed: 
        span #{value.exhumed.number}
      - if (value.exhumed.contact)
       p 
        span.title Contact name: 
        span #{value.exhumed.contact}
      - if (value.exhumed.notes)
       p 
       span.title Notes on Exhumation: 
       span #{value.exhumed.notes}

   if(value.identification)
      h4 Identification status: 
      
      -if (value.identification.status)
       p
        span.title Identified: 
        span #{value.identification.status}
      - if (value.identification.date)
       p 
        span.title Date: 
        span #{moment(value.identification.date).format('MMMM DD, YYYY')}
      - if (value.identification.number)
       p
        span.title Number of bodies identified: 
        span #{value.identification.number}
      - if (value.identification.notes)
       p 
       span.title Notes on Identification: 
       span #{value.identification.notes}  
      - if (value.identification.dna)
       p 
        span.title DNA conducted: 
        span #{value.identification.dna}  
  div
      h4 Sources 
      - if (value.sources)  
           p
            each source, i in value.sources
             if(sourcesList)
              each sourceProfile, i in sourcesList
               -if (source == sourceProfile.code) sourceTitle = sourceProfile.source_title
             a(href="#" onclick="loadProfile('sources','"+source+"');") #{source} #{sourceTitle}
             br
            
      - if (value.notes)
       p 
        span.title Notes: 
        span #{value.notes}   

      - if (value.contacts && (value.contacts).length>0)
       p
        span.title Contacts: 
        - var name = "";
        each contact, i in value.contacts
         if(contactsList)
          each contactProfile, i in contactsList
            - if (contact == contactProfile.code) name =  contactProfile.name.ar.last+" "+contactProfile.name.ar.first
         a(href="#" onclick="loadProfile('contacts','"+contact+"');") #{contact} #{name}
         br   
           
      
      div(class='btn menu')
       a(href="/newprofile/?type=site&code="+value.code) Edit
      div(class='btn menu')
            form#deleteEntry(name="deleteEntry", method="post", action="/deleteEntry" onclick="return confirm('This will delete the site permanently. Are you sure?')")
                    input(type="hidden" name="code" value=value.code)
                    input(type="hidden" name="collection" value="sites")
                    input(type="hidden" name="related_events" value=value.related.events)
                    input(type="hidden" name="related_sites" value=value.related.sites)
                    input(type="hidden" name="related_locations" value=value.related.locations)
                    input(type="hidden" name="related_mps" value=value.related.mps)
                    input(type="hidden" name="files" value=value.related.files)
                    input(type="hidden" name="interviews" value=value.interviews)
                    input(type="hidden" name="contacts" value=value.contacts)
                    input(type="hidden" name="_csrf" value=csrfToken)
                    
                    button#submit_event(class="buttons", type="submit") Delete   
  